@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Noto Sans SC', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji';
  }

  body {
    @apply bg-slate-950 antialiased;
  }

  input::placeholder {
    @apply text-slate-500;
  }
}

@layer utilities {
  .animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}
